from flask import Flask


def create_app(config_name):
    app = Flask(__name__)
    app.config.from_object(config[config_name])
    config[config_name].init_app(app)

    db.init_app(app)

{% for b in project.app.blueprints %}
    from {{ b.name }} import {{ b.name }} as {{ b.name }}_bp
    app.register_blueprint({{ b.name }}_bp)
{% endfor %}

    return app